html, body {
  height: 100%;
  padding: 0;
  background-color: lightBlue;
}

.posts-section {
  /* background-color: lightGrey; */
  height: 90%;
  margin-top: 20px;
}

#col1 {
  /* background-color: teal; */
  overflow: scroll;
}

#col1::-webkit-scrollbar {
  display: none;
}

.post {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  height: 30%;
}

.comments-btn {
  height: 30px;
}

.new-post-section {
  background-color: teal;
  height: 50%;
  margin-top: 50px;
}

.my-photos {
  background-color: white;
  overflow: scroll;
}

.create-post-form {
  background-color: lightGrey;
}

.images {
  width: 70%;
  height: 40%;
  margin-top: 5%;
}
